.banner {
    padding: 12em 2em 3em 2em;
    background: linear-gradient(to bottom, rgba($black, .75) 75%, rgba($white, .4)), url("../imgs/banner/B1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    border-top: .5rem solid $main-color;

    .banner-wrapper {
        width: 70%;
        margin-top: -2.5rem;
        margin-left: auto;
        min-height: auto;
        padding-bottom: 1.5rem;
        text-shadow: 1px 1px 5px rgba($main-color, .75);

        .b-title {
            font-size: 3em;
            font-weight: 400;
            text-align: center;
            margin-bottom: 2rem;
            color: #00dafd;
            line-height: 2;
        }
        p {
            color: $white;
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }
    }
}